
<div class="px-4">

  {% for post in posts %}

  <article class="font-sans-serif">
    <a href="{{ post.url | url }}" class="text-3xl text-retro-red hover:text-gray-100 mb-2">

        {{ post.data.title }}

    </a>
    <!-- <p class="text-gray-100">

        {% if post.data.tags %}
          {{ post.data.tags | join(" ") }}
        {% endif %}

    </p> -->
    {% if post.data.description %}
    <p class="text-lg text-gray-100 mb-3">
      {{ post.data.description }}
      <time class="text-sm text-gray-300 mx-2">
        {{ post.date | readableDate }}
      </time>
    </p>
    {% endif %}
  </article>
  {% endfor %}
</div>