<footer class="bottom-0 text-center font-sans-serif text-gray-100 m-4 p-5">
    <div >
        <a href="#" class="text-retro-yellow hover:text-gray-100">Contact</a> | <a href="#" class="text-retro-yellow hover:text-gray-100">Privacy</a> | <a href="#" class="text-retro-yellow hover:text-gray-100">About</a>
    </div>
    <small class="text-gray-100">Copyright ©
        {{ helpers.currentYear() }} {{settings.name}}
        •
        <a href="https://github.com/bradybellini/bradybellini-v4" class="underline hover:text-retro-yellow text-gray-100" target="_blank" rel="noopener">View on Github</a>
    </small>
</footer>
