---
layout: default
title: Personal Projects
description: A list of personal projects I am workin on or currently run
---


<div class="px-4">

    {% for projects in project %}
  
    <article class="font-sans-serif">
      <a href="{{ projects.url | url }}" class="text-3xl text-retro-red hover:text-gray-100 mb-2">
  
          {{ projects.data.title }}
  
      </a>
      <!-- <p class="text-gray-100">
  
          {% if projects.data.tags %}
            {{ projects.data.tags | join(" ") }}
          {% endif %}
  
      </p> -->
      {% if projects.data.description %}
      <p class="text-lg text-gray-100 mb-3">
        {{ projects.data.description }}
        <time class="text-sm text-gray-300 mx-2">
          {{ projects.date | readableDate }}
        </time>
      </p>
      {% endif %}
    </article>
    {% endfor %}
  </div>